<div class="layout-fullscreen bg-dark" data-menu style="display: none">
  <div class="layout-menu">
    <div class="layout-theme">
      <div class="bigtheme">
        <h2 class="bigtheme-header">Thema's</h2>
        <div class="bigtheme-links">
          {% assign class = "bigtheme-item" %}
          {% include page_list.html %}
        </div>
      </div>
    </div>
    <div class="layout-contact">
      <div class="contact">
        <h3 class="contact-title">Contact</h3>
        <div class="contact-text">
          <p>
            <span class="tel">T</span>
            <a href="tel:+31207220207"><b>+31 (0)20 722 02 07</b></a><br>
            <a href="mailto:info@tiltshift.nl">info@tiltshift.nl</a>
          </p>
          <p><b>TiltShift Postadres</b><br> Baarsjesweg 194D<br> 1057 HR Amsterdam<br> KvK 68994222</p>
          <p><b>TiltShift Financiën</b><br> Burg. de Josselin de Jonglaan 8<br> 3042 NH Rotterdam<br> BTW NL857680237B01</p>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-hamburger">
    <a href="/" data-menu-close="">
      <div class="cross">✕</div>
    </a>
  </div>
  <div class="layout-signature">
    <img src="/assets/img/tiltshift-signature-white.svg" class="signature" alt="TiltShift">
  </div>
</div>
