<div data-nav-container>
  {% include menu.html %}
</div>
<nav class="layout-locked">
  <div class="layout-banner">
    <a href="/">
      <img src="/assets/img/tiltshift-banner.svg" class="tsbanner">
    </a>
  </div>
  <div class="layout-hamburger">
    <a href="/menu" data-menu-open>
      <div class="hamburger">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-text">menu</span>
      </div>
    </a>
  </div>
</nav>
