---
layout: default
permalink: /voorbereiding
title: Voorbereiding
beschrijving: Fase 0 van iedere Fixxx is voorbereiding
order: 1
pars:
- title:
  body:
    - Alvorens een Fixxx te starten, is goede voorbereiding essentieel.
    -
  img:
- title: organisatie
  body:
    - het juiste team
    - een geschikte werkplek
    - de goede contacten
    - duidelijke verwachtingen
    - duidelijke werkafspraken
- title: kwartiermaken
  body:
    - de planning
    - de ruimte voorbereiden
---
<div class="layout-midlane">
  <section class="project-list">
    <div class="grid-wrapper">
      <div class="project-list-intro">
        <h1 class="text-title">{{ page.title }}</h1>

        {% for p in page.pars %}

          <h2 class="text-title-small">{{ p.title }}</h2>

          {% for line in p.body %}

            <p class="text-body">{{ line }}</p>

          {% endfor %}

          {% if p.img %}
            <center><img src="{{ p.img }}" style="margin: 40px auto"></center>
          {% endif %}

        {% endfor %}
      </div>
      {% for item in site.casestudies.disable %}
      <div class="project-item project-item-reversed">
        <div class="project-image-container" style="background-image: url(/assets/img/{{ item.img }})"> </div>
        <div class="project-text-container">
          <h2 class="project-title">{{ item.title }}</h2>
          <p class="project-teaser">{{ item.teaser }}</p>
          <a href="/{{ item.permalink }}" class="whitebox-button" style="margin-top: 30px">Bekijk deze case study</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
